#home(data-role='page')
    div(data-role='header', data-position='fixed')
        h1 PECS
    div(data-role='content', class='center')
        img(src='http://pool.afko.de/screenshot_Sllg.png')
        div(class='menu')
            a(href='#chat')
                img(src='http://dl.dropbox.com/u/8524305/PECS_group4/Home_files/u28_normal.jpg')
                div Chat
#chat(data-role='page')
    div(data-role='header', data-position='fixed')
        a(href='#home', data-icon='home', data-iconpos='notext', data-direction='reverse') Home
        h1 CHAT
    div(data-role='content')
        #pool
    div(data-role='footer', data-position='fixed')
        #sentence
#chat_new_word(data-role='page')
    div(data-role='header')
        h1 New Word / New Category
    div(data-role='content')
        p Add a new word
        form(action='#')
            label(for="word") Word:
            input(type="text", id="word", data-mini="true")
            label(for="type") Is Category:
            select(id="type", data-role="slider", data-mini="true")
                option(value="yes") Yes
                option(value="no") No
            button(data-mini="true") Submit
        p Categories can i have words, but can not be selected as a word in a sentence