#home(data-role='page')
    div(data-role='header', data-position='fixed')
        h1 PECS
    div(data-role='content', class='center')
        img(src='http://pool.afko.de/screenshot_Sllg.png')
        div(class='menu')
            a(href='#chat')
                img(src='http://dl.dropbox.com/u/8524305/PECS_group4/Home_files/u28_normal.jpg')
                div Chat
#chat(data-role='page')
    div(data-role='header', data-position='fixed')
        a(href='#home', data-icon='home', data-iconpos='notext', data-direction='reverse') Home
        h1 CHAT
    div(data-role='content')
        #pool
    div(data-role='footer', data-position='fixed')
        #sentence
#chat_new_word(data-role='page')
    div(data-role='header')
        h1 New Word / New Category
    div(data-role='content')
        form(action='#')
            div(data-role='fieldcontain')
                label(for="word") Word:
                input(type="text", id="word", data-mini="true")
            div(data-role='fieldcontain')
                label(for="type") Is Category:
                select(id="type", data-role="slider", data-mini="true")
                    option(value="no") No
                    option(value="yes") Yes
            fieldset(class="ui-grid-a")			
                .ui-block-a
                    a(href="#chat", data-role="button", data-mini="true", data-theme="d") Cancel
                .ui-block-b
                    button(type="submit", data-mini="true", data-theme="a") Create Picture
        p Categories can i have words, but can not be selected as a word in a sentence.