!!!
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/lib/jquery-1.7.2.js')
    script(type='text/javascript', src='/javascripts/pecs.js')
    style(type='text/css')
        @import url(http://fonts.googleapis.com/css?family=Lobster);
    link(rel='stylesheet', href='/stylesheets/pecs.css')
  body!= body