!!!
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css')
    link(rel='stylesheet', href='/stylesheets/pecs.css')

    script(type='text/javascript', src='/javascripts/lib/jquery-1.7.2.js')
    script(type='text/javascript', src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
    script(type='text/javascript', src='http://eightmedia.github.com/hammer.js/hammer.js')
    script(type='text/javascript', src='http://eightmedia.github.com/hammer.js/jquery.hammer.js')
    script(type='text/javascript', src='http://timeago.yarp.com/jquery.timeago.js')
    script(type='text/javascript', src='/javascripts/lib/cordova-1.7.0.js')
    script(type='text/javascript', src='/channel/bcsocket.js')
    script(type='text/javascript', src='/share/share.js')
    script(type='text/javascript', src='/share/json.js')
    script(type='text/javascript', src='/javascripts/pecs.js')

  body!= body