.center {
    text-align:center;
}

.round {
    border-radius:10px;
}

.basicbox {
    border:5px dashed rgba(0, 0, 0,0.4);
    float:left;
    cursor:pointer;
    width:40px;
    height:40px;
    .round;
    padding:5px;
    margin:5px;
    font-size:9pt;
    .center;
}

.contextbox {
    .basicbox;
    background-color:#000000;
}


#home .menu {
    background-color:#228383;
    padding:10px;
    margin:5px;
    .round;
    
    a div {
        color:#fff;
        text-shadow:none;
    }
}

#chat {

    #pool, #sentence {
        .add {
            .basicbox;
        }
        
        .word, .category {
            
            img {
                height:40px;
                width:40px;
            }
            
            div {
                margin-top: -3px;
                color: white;
                text-shadow: none;
                font-size: 8pt;
            }
        }
    }
    
    #pool {
        .category {
            .basicbox;
            
            div {
                color:black;
            }
        }
        .word {
            .contextbox;
        }
        a {
            text-decoration:none;
        }
    }

    #sentence {
        .word {
            .contextbox;
        }
    }
}